#grid {  

		display: grid;
		grid-template-areas:
		  "header header header " 
		  "nav nav nav "
		  "aside section2 section2"
		  "section3 section3 section3" 
		  "footer footer footer " ;

		  grid-template-columns: 20vw 60vw 20vw;
		  grid-template-rows: repeat(4, 0.3fr );




		  grid-gap: 10px;
		  overflow-x: hidden;
 }



.container-fluid2{ padding: 7%; }

