#riders {

		text-transform: uppercase;
		text-align: center;
		font-size: 1rem;
		padding: 30px 50px ;
		font-family: roboto;
		background-color: rgba(255, 255, 255, 0.1);
		margin: 30px 5px;
		display: flex;
		flex-direction: column; 

		& h2 { color: white; }

		& h1 { color: white; }

		& p { color: white;
			    font-size: 40%; }

		 }

	

	 

			

			 